
.button-area{
    margin-top: 0.8rem;
}

button {
    border: 1px solid #ff3838;
    background-color: #F25757;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 1.1rem;
}